.gscv-wrapper {
  overflow: auto;
  width: 100%;
}

.gscv-container {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6px;
  max-width: 100%;
  width: auto;
}

.gscv-code {
  box-sizing: border-box;
  width: calc((600px / 2) - 6px);
  max-height: calc((600px / 2) - 6px);
  padding: 3px 5px;
  font-size: 15px;
  flex-shrink: 1;
  margin: 0;
  border-radius: 6px;
  height: auto;
  overflow: auto;
}

.gscv-container[data-gscv-layout="2cols-2rows"] .gscv-code,
.gscv-container[data-gscv-layout="2cols-1rows"] .gscv-code {
  width: calc((600px / 2) - 6px);
  max-height: calc((600px / 2) - 6px);
}

.gscv-container[data-gscv-layout="3cols-2rows"] .gscv-code,
.gscv-container[data-gscv-layout="3cols-1rows"] .gscv-code {
  width: calc((600px / 3) - 6px);
  max-height: calc((600px / 3) - 6px);
}

.gscv-container pre {
  margin: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  transform-origin: 0 0;
  background-color: transparent;
}

.gscv-btn {
  background: none;
  color: inherit;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 11px;
}

.gscv-btn:hover {
  text-decoration: underline;
}
